<!DOCTYPE html>
<html lang="en">    
<head> 
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        
        <!-- Custom Stylesheet -->
	<link rel="stylesheet" href="/css/main.css">
</head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h3 class="title"><a href="/">{{ site.name }}</a></h3>
              <div class="navbar navbar-fixed-top">
                <ul class="nav navbar-nav"> 
	          <li><a class="active" href="/">Home</a></li>
                  <li><a  href="about.html">About Me</a></li>
                  <li><a  href="work.html">Work</a></li>
                  <li><a  href="contact.html">Contact</a></li>
                </ul>
             </div>
            </div>
           </div>
          <pre>
           <img src="/Images/Portfolio-Image.JPG"  alt="Responsive image" class="img-portfolio" /> 
           I am working in the software industry since 2007. I completed my master's from San Diego State University in May 2013. The course work
          is mainly concentrated in object oriented programming, design patterns and algorithms. </pre>
       </div> <!-- /container -->

    </body>
</html>
